 $fontcolor: #033e04;
 $theme: #d7dfd7;
 $themedarker: #b0c0af;
 * {
     box-sizing: border-box;
 }
 
 body {
     background-color: $theme;
     color: $fontcolor;
 }
 
 .dropDown {
     display: none;
     position: relative;
     background: $theme;
     margin-top: 35px;
 }
 
 .dd-wrapper .container {
     border: 4px solid $fontcolor;
     .row {
         display: flex;
         align-items: center;
     }
     img {
         padding: 0;
         border: 2px solid $fontcolor;
         margin: 10px;
     }
 }
 
 .top-menu {
     background-color: $themedarker;
     display: flex;
     align-items: center;
     position: relative;
     img {
         max-width: 75%;

     }
     .search {
         input[type=text] {
             //width: 100%;
             border: 1px solid $fontcolor;
             border-radius: 2px;
             font-size: 10px;
             background-color: $theme;
             padding: 5px 10px;
             text-align: right;
             color: $fontcolor;
             margin: 0px 20px;
         }
     }
 }
 
 nav {
     background-color: $themedarker;
     ul {
         padding: 0px;
         margin: 0px;
         display: flex;
         align-items: center;
         justify-content: space-around;
         li {
             list-style-type: none;
             text-align: center;

             h3 {
                 padding: 0px;
                 margin: 0px;
             }
         }
     }
 }
 
 .select {
     //font-family: 'Griffy', cursive;
     font-family: 'Cabin Sketch', cursive;
     //font-family: 'Londrina Sketch', cursive;
     font-size: 18px;
 }
 
 .clear {
     clear: both;
 }
 
 .category {
     h1 {
         color: white;
         padding: 5px 10px;
         background-size: cover;
         background-position: center center;
         background-image: url("../../images/BackgroundforCategories.png");
         background-repeat: no-repeat;
         width: 25%;
         text-align: center;
         //font-family: 'Griffy', cursive;
         font-family: 'Cabin Sketch', cursive;
         //font-family: 'Londrina Sketch', cursive;
     }
     .slick-track {
         display: flex;
         align-items: center;
     }
     .art-cont {
         .art-ind {
             margin: 5px;
             img {
                 max-height: 200px;
                 max-width: 100%;
                 margin: 0 auto;
                 border: 2px solid $fontcolor;
                 ;
             }
         }
     }
 }

 @media screen and (max-width: 990px){
     .top-menu {
         display: block;
    
     }
 }
 
 @media screen and (max-width: 650px) {
     nav {
         ul {
             flex-wrap: wrap;
             li {
                 display: inline-block;
                 flex-grow: 1;
                 padding: 10px;
                 width: calc(100% * (1/3) - 10px)
             }
         }
     }
 }
 
 @media screen and (max-width: 450px) {
     nav {
         ul {
             padding: 0px;
             flex-direction: column;
             align-items: center;
             li {
                 width: 100%;
             }
         }
     }
 }